@media (max-width: 400px) {
  #title {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  figcaption {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  ul {
    font-size: 1.2rem;
  }
}
body {
  font-family: monospace;
  background-color: #D5BCBC;
  font-size: 1.2rem;
}

#title {
  text-align: center;
}

p {
  text-align: center;
}

#img-div {
  width: 100%;
  background-color: #B39B9B;
  padding: 15px 0 15px 0;
}

#image {
  max-width: 100%;
  margin: auto;
  display: block;
}

#img-caption {
  text-align: center;
  max-width: 100%;
}

h2 {
  text-align: center;
}

ul {
  margin: auto;
  max-width: 450px;
  text-align: left;
}

blockquote {
  margin: auto;
  max-width: 450px;
}

a {
  color: #1F334C;
}

a:hover {
  color: #2ECD26;
}

/*# sourceMappingURL=main.css.map */
