
@use "variables";


@media (max-width: variables.$max-width ) {
	#title {
		font-size: 2rem;
	}

	p {
		font-size: 1.2rem;
	}

	figcaption {
		font-size: 1.2rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	ul {
		font-size: 1.2rem;
	}

}