
@use "variables";
@use "responsive";

body {
	font-family: variables.$main-font;
	background-color: variables.$main-color;
	font-size: 1.2rem;
}

#title {
	text-align: variables.$center-text;
}

p {
	text-align: variables.$center-text;
}

#img-div {
	width: 100%;
	background-color: variables.$div-color;
	padding: 15px 0 15px 0;
}

#image {
	max-width: 100%;
	margin: auto;
	display: block;
}

#img-caption {
	text-align: variables.$center-text;
	max-width: 100%;
}

h2 {
	text-align: variables.$center-text;
}

ul {
	margin: auto;
	max-width: 450px;
	text-align: left;
}

blockquote {
	margin: auto;
	max-width: 450px;
}

a {
	color: variables.$link-color;
}

a:hover {
	color: variables.$hover-color;
}